button {
    width: 8em;
    height: 5em;
    font-size: 1.4em;
    font-weight: bolder;
}

td {
    border: 0em;
    margin: 0em;
    padding: 0em;
}

input {
    width: 81.5em;
    align-content: center;
}

h1 {
    color: white;
    text-align: center;
    padding: 40px 40px;
    text-transform: uppercase;
    background-color: black;
}

table  {
    margin-left: auto;
    margin-right: auto;
}

body {
    text-align: center;
}