button {
    width: 8em;
    height: 5em;
    font-size: 1.4em;
    font-weight: bolder;
}

td {
    border: 0em;
    margin: 0em;
    padding: 0em;
}

input {
    width: 81.5em;
}

h1 {
    color: #000;
    text-align: center;
    padding: 0px 25px;
    text-transform: uppercase;
}