* {
    font-family: "Rimouski", sans-serif;
}

h1 {
    color: white;
    text-align: center;
    padding: 40px 40px;
    text-transform: uppercase;
}

body {
    background-color: #293251;
}

section {
    width: 300px;    
    background-color: #FFF;
    
    display: block;
    margin: 0 auto;
    
    border-radius: 10px;
    padding-bottom : 50px;

}

h2, p {
    text-align: center;
}

select, img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}