button {
    font-weight: bolder;
}


h1 {
    color: white;
    text-align: center;
    padding: 40px 40px;
    text-transform: uppercase;
    background-color: black;
}

section {
    border-style: solid;
    border-color: black;
    margin: 10px;
}